body {    
    margin: 0 !important;
    padding: 0 !important;

    font-family: 'Roboto', sans-serif;
 	font-weight: 300;
 	text-decoration: none;
}

.titlebar {
	background-color: #F44336;
	box-shadow: 0vw 0.1vw 2vw #424242;
	z-index: 0;

	width: 100%;
	height: 11vw;
}

#pagetitle {
	display: inline-block;
	color: white;
	font-size: 7vw;
	font-family: 'Bangers', cursive;

	margin-top: 2vw;
	margin-left: 1vw;
	margin-bottom: 0vw;
}

#search {
	position: absolute;
	top: 4vw;
	right: 2vw;
	color: white;

	width: 35vw;

}

.papersearch {
	color: white;
    --paper-input-container-color: red;
    --paper-input-container-focus-color: blue;
    --paper-input-container-invalid-color: green;
    --paper-input-container-input-color: black;
}

.genrebar {
	display: inline-block;
	float: left;
	background-color: #424242;
	z-index: -1;

	height: 100%;
	width: 19%;

}

.genreheader {
	display: block;
	background-color: #9E9E9E;
	color: #424242;



	text-align: center;
	vertical-align: middle;
	font-size: 4vw;
	font-family: 'Bangers', cursive;

	width: 100%;
	height: 5vw;
	padding-top: 0.5vw;
	margin-bottom: 2vw;
}

.genrebar paper-button.custom:hover {
    background-color: #F44336;
}

.genrebar paper-button.indigo {
    background-color: #9E9E9E;
    color: #424242;
    display: inline-block;
    text-align: center;

   	margin-bottom: 0.5vw;
  }

.genrebar paper-button.yellow {
    background-color: #FFAB00;
    color: #424242;
    display: inline-block;
    text-align: center;

   	margin-bottom: 0.5vw;
  }


.results {
	display: inline-table;
	float: right;

	width: 81%;
	height: 100%;

	/*padding: 2vw;*/
}

.paper-card-0 {
	display: inline-table;
}

.paper-card-0 .info {
	font-size: 15px;
	color: black;

	margin-top: 5px;
	margin-bottom: 5px;
}	

paper-card {
	display: inline-table;
	overflow: hidden;

	width: 200px;
	margin: 1vw;
}

paper-card .header {
	height: 120px;
}

.card-content {
	background-color: #FAFAFA;

	height: 200px;
}

.cafe-header { 
	color: #F44336; 
}

.cafe-light { 
	color: #795548; 
	font-size: 13px;

	margin-top: 0px;
}
.cafe-location {
	color: #FFAB00;
	float: right;
	font-size: 15px;
	vertical-align: bottom;
}

.cafe-reserve { 
	color: blue; 
}

.iron-icon-0 {
	height: 18px;
	width: 18px;
}

iron-icon.star {
	--iron-icon-width: 16px;
	--iron-icon-height: 16px;
	vertical-align: top;
}